requests==2.31.0
python-multipart==0.0.9
fastapi==0.110.2
uvicorn==0.29.0
loguru==0.7.2
nuitka==2.1.5
pyyaml==6.0.1

opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
NumPy==1.26.4
pyarmor==8.5.8

scikit-image==0.23.1
pillow==10.3.0

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
ultralytics==8.2.1
